header {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  flex-grow: 1;
  width: 100%;
  background: #2251b2;
  border-bottom: 3px solid #16336e;
  height: 250px;
}

p {
  margin: 0;
}

.row {
  width: 95%;
}

.avatar {
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image {
  margin: 0 30px;
  box-shadow: -2px 2px 3px -1px rgb(49 59 70);
}

.specialty {
  color: white;
  margin-bottom: 10px;
}

.name,
.surname {
  color: white;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: -25px;
}
